Flask==2.1.0
flask-login==0.6.2
flask-sqlalchemy==2.5.1
boto3==1.26.0
botocore==1.29.0
requests==2.31.0
pycryptodome==3.18.0
Werkzeug==2.2.3
sendgrid==6.11.0
gunicorn==20.1.0
cryptography==41.0.3
psycopg2-binary=2.9.10

